<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <form [formGroup]="addJokeForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-2 mt-2">
          <input type="text"
                 formControlName="newJoke"
                 class="form-control"
                 placeholder="New joke..."
                 [ngClass]="{ 'is-invalid': submitted && formFields.newJoke.errors }"
          />
          <div class="input-group-append">
            <button class="btn btn-secondary">
              Add
            </button>
          </div>
          <div *ngIf="submitted && formFields.newJoke.errors" class="invalid-feedback">
            <div *ngIf="formFields.newJoke.errors.required">
              Joke is required
            </div>
            <div *ngIf="formFields.newJoke.errors.maxlength">
              Joke must be less than 300 characters
            </div>
          </div>
        </div>
      </form>
      <div class="input-group mb-4 mt-2">
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 placeholder="Search..."
                 [formControl]="search"
          >
          <div class="input-group-append">
            <button class="btn btn-secondary"
                    type="button"
                    [disabled]="!search.value"
                    (click)="onFindClick()"
            >
              Find
            </button>
            <button class="btn btn-secondary"
                    type="button"
                    [disabled]="!search.value"
                    (click)="onClearClick()"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
      <ul class="list-group mt-2 mb-2">
          <app-joke-list-item *ngFor="let joke of jokes | paginate: config"
                              [joke]="joke"
          >
          </app-joke-list-item>
      </ul>
      <nav class="mt-2 mb-2 text-center">
        <pagination-template #p="paginationApi"
                             (pageChange)="pageChange($event)"
                             autoHide="true"
        >
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="p.isFirstPage()">
              <span class="page-link"
                 (click)="p.previous()"
              >
                  Previous
              </span>
            </li>
            <li class="page-item"
                *ngFor="let page of p.pages"
                [class.active]="p.getCurrent() === page.value"
            >
              <span class="page-link"
                 (click)="p.setCurrent(page.value)"
                 *ngIf="p.getCurrent() !== page.value"
              >
                  {{ page.label }}
              </span>
              <span class="page-link"
                 *ngIf="p.getCurrent() === page.value"
              >
                  {{ page.label }}
              </span>
            </li>
            <li class="page-item" [class.disabled]="p.isLastPage()">
                <span class="page-link"
                   (click)="p.next()"
                >
                    Next
                </span>
            </li>
          </ul>
        </pagination-template>
      </nav>
    </div>
  </div>
</div>
