<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="mt-2 mb-2 text-center">
        <a [routerLink]="['/joke']" class="btn btn-link">
          Back
        </a>
      </div>
      <form *ngIf="joke"
            [formGroup]="updatedJokeForm"
            (ngSubmit)="onSubmit()"
      >
        <div class="form-group mt-2 mb-2">
          <textarea rows="5"
                    formControlName="updatedJoke"
                    [ngClass]="{
                      'form-control': true,
                      'border-primary': saving,
                      'is-invalid': submitted && formFields.updatedJoke.errors
                    }"
          >
          </textarea>
          <div *ngIf="submitted && formFields.updatedJoke.errors" class="invalid-feedback">
            <div *ngIf="formFields.updatedJoke.errors.required">
              Joke is required
            </div>
            <div *ngIf="formFields.updatedJoke.errors.maxlength">
              Joke must be less than 300 characters
            </div>
          </div>
        </div>
        <div class="mt-2 mb-4">
          <button class="btn btn-primary ml-1"
                  type="submit"
          >
            Save
          </button>
          <button class="btn btn-warning ml-1"
                  (click)="onDeleteClick()"
          >
            Delete
          </button>
          <button *ngIf="showConfirmButton"
                  class="btn btn-danger ml-1"
                  (click)="onConfirmClick()"
          >
            Confirm
          </button>
        </div>
      </form>
      <app-comments [comments]="joke?.comments"></app-comments>
    </div>
  </div>
</div>
